<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2 data-aos="fade-right" data-aos-duration="1000">The Products</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social MEdia</p>
        <div class="hero-social-links">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</section>
<!-- Page top section end-->

<!-- Intro section -->
<section class="intro-section spad " style="padding-bottom: 0;" data-aos="fade-down" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1 intro-text">
                <span>Belpatram Ventures</span>
                <h2><b>Active Wear</b></h2>
                <p>We know how important it is to feel comfortable and confident while breaking a sweat, which is
                    why we have meticulously curated a range of active wear that is not only stylish and functional
                    but also incredibly comfortable. Our collection includes everything from supportive sports bras
                    and moisture-wicking tops to flexible leggings and breathable shorts, all designed to optimize
                    your performance while keeping you comfortable and confident. Whether you're hitting the gym,
                    going for a run, or practicing yoga, our activewear is designed to move with you, so you can
                    focus on crushing your goals.
                </p>
                <!--<a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>-->
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <img src="../../../assets/img/Activewear.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="products2" style="padding-bottom: 50px;" >

    <div class="blog-item" data-aos="fade-down" data-aos-duration="2000">
        <div class="blog-thumb set-bg" style="background-image: url(../../../assets/img/womenTop1.png);">
            <!--<div class="blog-date">
                <h2>01</h2>
                <p>Mark</p>
            </div>-->
        </div>
        <div class="blog-head">
            <div class="blog-tags">Belpatram Ventures</div>
            <h2><a href="single-blog.html">Lounge Wear</a></h2>
        </div>
        <p>In a world that's always on the go, we understand the importance of taking a moment to relax
            and unwind. Our loungewear collection is thoughtfully curated to ensure your downtime is as
            comfortable as it is stylish. From soft, breathable fabrics to relaxed fits, every piece is designed
            with your ultimate comfort in mind. Our range includes everything from cozy pajamas and
            luxurious robes to comfortable joggers and soft tops, perfect for a lazy weekend morning, a
            relaxed evening after a long day, or even a work-from-home day. Embrace the art of relaxation
            with our chic and comfortable loungewear collection.</p>
    </div>

    <div class="blog-item" data-aos="fade-up" data-aos-duration="2000">
        <div class="blog-thumb set-bg" style="background-image: url(../../../assets/img/LeatherGarments.jpg);">
            
        </div>
        <div class="blog-head" >
            <div class="blog-tags">Belpatram Ventures</div>
            <h2><a href="single-blog.html">Leather Garments</a></h2>
        </div>
        <p>Leather has always been synonymous with luxury, style, and durability. Our collection
            showcases the finest leather garments, meticulously crafted to bring you the perfect blend of
            sophistication, comfort, and durability. From sleek leather jackets and elegant leather dresses to
            classic leather trousers and stylish leather skirts, every piece is designed to make a statement
            while providing the utmost comfort. Whether you're looking to elevate your everyday style, make
            a statement on a special occasion, or invest in a timeless piece that will last a lifetime, our
            leather garments collection has something for everyone. Embrace the enduring allure of leather
            with our exquisite collection.
        </p>
    </div>

</section>


<!-- Intro section end-->


<!-- Intro section -->
<section class="intro-section spad" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../../assets/img/footwear.jpg" alt="">
            </div>
            <div class="col-lg-7 intro-text">
                <span>Belpatram Ventures</span>
                <h2><b>Footwear</b></h2>
                <p>The right pair of shoes can transform your entire look and mood, which is why we have carefully
                    curated a collection of footwear that combines style, comfort, and durability. From chic heels and
                    stylish sandals to comfortable sneakers and sturdy boots, our range covers every occasion and
                    season. Each pair is meticulously designed to provide optimum support, comfort, and style,
                    keeping your feet happy and your fashion game strong. Whether you're stepping out for a
                    casual day, heading to the office, or attending a special event, our footwear collection has the
                    perfect pair to complete your look. Step into style and comfort with our versatile footwear
                    collection.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end-->



<section class="products2" style="padding-bottom: 50px;" >

    <div class="blog-item" data-aos="fade-down" data-aos-duration="2000">
        <div class="blog-thumb set-bg" style="background-image: url(../../../assets/img/Accessories.jpg);">
            
        </div>
        <div class="blog-head">
            <div class="blog-tags">Belpatram Ventures</div>
            <h2><a href="single-blog.html">Accessories</a></h2>
        </div>
        <p>Accessories are the finishing touches that can elevate any outfit from ordinary to extraordinary.
            Our collection includes a wide range of accessories designed to add a dash of style, personality,
            and functionality to your everyday look. From elegant jewelry and chic sunglasses to functional
            wallets and stylish belts, our range covers all the essentials and more. Each piece is
            thoughtfully designed to complement your personal style while adding a touch of elegance and
            sophistication. Whether you're looking to make a statement, add a touch of glamour, or simply
            complete your look, our personal accessories collection has everything you need to express
            your unique style. Elevate your everyday with our curated collection of personal accessories.
            </p>
    </div>

    <div class="blog-item" data-aos="fade-up" data-aos-duration="2000">
        <div class="blog-thumb set-bg" style="background-image: url(../../../assets/img/Industrial\ garments.jpg);">
            
        </div>
        <div class="blog-head">
            <div class="blog-tags">Belpatram Ventures</div>
            <h2><a href="single-blog.html">Industrial garments/ uniform</a></h2>
        </div>
        <p>In industries where safety, professionalism, and functionality are paramount, having the right
            attire is crucial. Our collection includes a range of industrial garments and uniforms designed to
            meet the specific needs of various industries. From durable workwear and protective gear to
            professional uniforms and high-visibility clothing, every piece is designed with the highest
            standards of safety, comfort, and durability in mind. Our garments are made from high-quality
            materials that can withstand the rigors of daily wear and tear, while providing optimum comfort
            and functionality. Whether you're in construction, healthcare, hospitality, or any other industry
            that requires specialized attire, our industrial garments and uniforms collection has got you
            covered. Dress for success and safety with our comprehensive range of industrial garments and
            uniforms.
        </p>
    </div>

</section>




<!-- Milestones section -->
<!--<section class="milestones-section set-bg">
		<div class="container">
			<div class="row text-white">
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>14</h2>
						<p>Fashion Awards</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>25K</h2>
						<p>IG Followers</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>5</h2>
						<p>Great Designers</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>56</h2>
						<p>Award Nomenees</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	 Milestones section end-->