.page-top-section{
    background-image: url(../../../assets/img/header-bg/2.jpg);
}


.milestones-section{
    background-image: url(../../../assets/img/milestones-bg.jpg);
}

.products2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.blog-item{
    max-width: 100%;
    width: 500px;
}

