<!-- Hero section -->
<section class="hero-section">
    <!-- Video Source -->
    <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
    <section class="showcase">
        <video src="../../../assets/video/Office Video.mp4" #video (canplay)="video.play()"
            (loadedmetadata)="video.muted = true" loop></video>
        <!--<div class="overlay"></div>-->
        <div class="text mx-auto" data-aos="fade-right" data-aos-duration="2000">
            <h2>Never Stop </h2>
            <h3>Exploring The World</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            <a href="#">Explore</a>
        </div>
    </section>

    <!--<div class="videoland">
        <section class="showcase">
            <div class="video-container">
                <video src="../../../assets/video/Office Video.mp4" #video (canplay)="video.play()"
                    (loadedmetadata)="video.muted = true" loop></video>
            </div>

            <div class="content" data-aos="fade-right" data-aos-duration="3000">
                <h1>Shoot the starts</h1>
                <h3>Full screen video landing page</h3>
                <a href="#" class="site-btn">Read More <i class="fa fa-angle-double-right"></i></a>

            </div>
        </section>
    </div>-->

    <!--<div class="landingvideo">
        <video class="" #video (canplay)="video.play()" (loadedmetadata)="video.muted = true" id="myVideo">
            <source src="../../../assets/video/Office Video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container landingText mx-auto">
        <h2>Style is forever</h2>
        <a href="#" class="site-btn">Read More <i class="fa fa-angle-double-right"></i></a>
    </div>-->
    <!--<div class="hero-slider">
        <div class="hs-item" data-hash="slide-1">
            <div class="container">
                <h2>Style is forever</h2>
                <a href="#" class="site-btn">Read More <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/slider/2.jpg" data-hash="slide-2">
				<div class="container">
					<h2>Style is forever</h2>
					<a href="#" class="site-btn">Read More <i class="fa fa-angle-double-right"></i></a>
				</div>
				<div class="next-hs set-bg" data-setbg="img/slider/1.jpg">
					<a href="#slide-1" class="nest-hs-btn">Next</a>
				</div>
			</div>
    </div>-->
    <div class="hero-social-warp">
        <p>Follow us on Social MEdia</p>
        <div class="hero-social-links">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</section>
<!-- Hero section end-->

<!-- Intro section -->
<section class="intro-section spad" data-aos="fade-right" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../../assets/img/intro-img.jpg" alt="">
            </div>
            <div class="col-lg-7 intro-text">
                <span>Belpatram Ventures</span>
                <h2>About Us</h2>
                <p>Belpatram Ventures, is a privately held, global entity specializing in product development,
                    sourcing, merchandising, and imports. Operating primarily in the apparel, leather products, and
                    home furnishings sector, the company has built a solid reputation for delivering high-quality
                    goods with a touch of elegance and sophistication. Its unique selling proposition is a
                    comprehensive 'Design to Delivery' service, ensuring end-to-end management of every project.
                    With manufacturing and sourcing operations spanning India, Bangladesh, and Vietnam with
                    local expertise to meet diverse customer demands. Their attention to detail, commitment to
                    quality, and rigorous standards have positioned them as a trusted partner in the industry. A
                    hallmark of Belpatram's success is their ability to continually innovate and adapt, ensuring they
                    remain at the forefront of market trends and customer needs.
                </p>
                <a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end-->

<!-- Brand History section -->
<section class="brand-history-section spad" style="padding-top: 40px;">
    <div class="container">
        <div class="section-title text-center" style="margin-bottom: 40px;" data-aos="fade-left"
            data-aos-duration="1000">
            <span>Belpatram Ventures</span>
            <h2>Our Mission & Vision</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="brand-history-item" data-aos="fade-right" data-aos-duration="1000">
                    <!--<h2>2005</h2>-->
                    <h4>Mission</h4>
                    <p>At Belpatram Ventures, our mission is to revolutionize the consumer goods industry by offering
                        comprehensive 'Design to Delivery' services that ensure end-to-end management of every
                        project. We are committed to delivering high-quality, elegant, and sophisticated products while
                        continually innovating and adapting to meet the diverse needs of our global customers. Through
                        our expertise, rigorous standards, and extensive network of supply chain partners, we aim to
                        create the future of supply chain management, focused on speed, innovation, and digitalization,
                        while putting purpose at the core of what we do.</p>
                </div>
                <div class="brand-history-item" data-aos="fade-left" data-aos-duration="1000">
                    <h4>Vision</h4>
                    <p>We envision a world where the supply chain is digitalized, innovative, and purpose-driven,
                        enabling businesses and consumers to interact in new and meaningful ways. Belpatram
                        Ventures will be at the forefront of this transformation, acting as a catalyst for change and a
                        trusted partner in the apparel, leather products, and home furnishings sectors. Our unique
                        approach to product development, sourcing, merchandising, and imports, combined with our
                        commitment to quality, innovation, and customer needs, will position us as a global leader in
                        creating the supply chain of the future, helping our customers navigate the digital economy.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center" data-aos="fade-right" data-aos-duration="1000">
            <a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</section>
<!-- Brand History section end-->


<!-- Portfolio section -->
<section class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-7" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/1.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-5" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/2.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/3.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/4.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/5.jpg" alt="">
                    <h4>See More</h4>
                </a>
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/7.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/6.jpg" alt="">
                    <h4>See More</h4>
                </a>
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/8.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/9.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/10.jpg" alt="">
                    <h4>See More</h4>
                </a>
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/11.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1000">
                <a href="portfolio.html" class="portfolio-item">
                    <img src="../../../assets/img/portfolio/12.jpg" alt="">
                    <h4>See More</h4>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio section end-->

<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../../../assets/img/Client List/AMZN_BIG-accd00da.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Aritizia.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Calvin Klein.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Gap inc.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Jockey.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Lacoste.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/LiDL.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/nike-logo-png-black-icon-white-background-large.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/puma-logo-F9E13B654C-seeklogo.com.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/tommy-hilfiger-logo-B33D25C18D-seeklogo.com.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/Uniqlo.png" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/img/Client List/VS&Co Logo_Primary_Black thumb.png" alt="" />
        </div>

    </div>
</div>



<!-- USP -->

<div class="content2">
    <h1>Our USP</h1>

    <p>
    <ul>
        <li>Customer Intimacy at our core, building decade long partnerships with brands to elevate our
            businesses</li>

        <li>Exceptional category expertise via specialised technical teams to guarantee consistent quality
            of high production volumes</li>

        <li>An extensive network of resources and account teams, who can support and respond to your
            needs from design to delivery</li>
    </ul>
</div>