<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2 data-aos="fade-left" data-aos-duration="1000">Our Network</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social Media</p>
        <div class="hero-social-links">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</section>
<!-- Page top section end-->



<!-- Milestones section -->
<section class="milestones-section set-bg" style="margin-top: 130px; margin-bottom: 50px;">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-3 col-sm-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>India</b></h3>
                    <p>15 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Egypt</b></h3>
                    <p>12 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Bangladesh</b></h3>
                    <p>7 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Vietnam</b></h3>
                    <p>5 Factories</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Milestones section end-->


<div class="intro-text mx-auto text-center" data-aos="fade-up" data-aos-duration="1000">
    <span>Belpatram Ventures</span>
    <h2><b>Global Reach: Countries in Our Operational Network</b></h2>
    <!--<a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></a>-->
</div>


<div class="container" data-aos="fade-right" data-aos-duration="1000">
    <div class="map-container">
        <img src="../../../assets/img/world-map-1500_vvekl5.png">
        <div class="point india tippy" title="India"></div>
        <div class="point Egypt tippy" title="Egypt"></div>
        <div class="point Bangladesh tippy" title="Bangladesh"></div>
        <div class="point Vietnam tippy" title="Vietnam"></div>
    </div>
</div>



<!--Snapshot Figure-->

<section class="milestones-section milestones-section2 set-bg" style="margin-top: 70px; margin-bottom: 50px;">
    <div class="container">
        <div class="row text-white" data-aos="fade-left" data-aos-duration="1000">
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex">
                        <h3 style="font-weight: 600;" [countUp]=1000000000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                        <h3 style="margin-left: 10px;"><b>USD</b></h3>
                    </div>
                    <p>Total Sales</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="font-weight: 600;" [countUp]=60000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                        <h3 style="margin-left: 10px;"><b>+</b></h3>
                    </div>
                    <p>Total Workforce</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="margin-left: 10px;"><b>></b></h3>
                        <h3 style="font-weight: 600;" [countUp]=450000000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                    </div>
                    <p>Units Manufactured Annually</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="font-weight: 600;" [countUp]=5 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                    </div>
                    <p>Countries Of Origin</p>
                </div>
            </div>
        </div>

        <div class="row text-white" style="margin-top: 60px;" data-aos="fade-right" data-aos-duration="1000">

            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Duty Benefit</b></h3>
                    <p>NA, EU, Asia/Oceania</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Integrated</b></h3>
                    <p>Supply Chain Solutions</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Exporter of the Year</b></h3>
                    <p> 7 Time Recipient</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Worlds 1st LED Platinum Certified</b></h3>
                    <p>Apparel Manufacturing Facility Certified In 2008</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Worlds 1st Net Zero Carbon</b></h3>
                    <p>Apparel Manufacturing Facility Certified In 2018</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Snapshot Figure End-->