<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2 data-aos="fade-left" data-aos-duration="1000">Our Network</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social MEdia</p>
        <div class="hero-social-links">
            <a href="https://www.linkedin.com/company/belpatram-ventures/"><i class="fa fa-linkedin"></i></a>
            <!--<a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>-->
        </div>
    </div>
</section>
<!-- Page top section end-->



<!-- Milestones section -->
<section class="milestones-section set-bg" style="margin-top: 130px; margin-bottom: 50px;">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-3 col-sm-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>India</b></h3>
                    <p>15 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Egypt</b></h3>
                    <p>5 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Bangladesh</b></h3>
                    <p>10 Factories</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="milestone-item">
                    <h3><b>Vietnam</b></h3>
                    <p>4 Factories</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Milestones section end-->


<div class="intro-text mx-auto text-center" data-aos="fade-up" data-aos-duration="1000">
    <span>Belpatram Ventures</span>
    <h2><b>Global Reach: Countries in Our Operational Network</b></h2>
    <!--<a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></a>-->
    <div class="d-flex flex-wrap justify-content-center">
        <div class="type d-flex flex-wrap justify-content-around mr-5">
            <div class="colourBox"></div>
            <p>MANUFACTURING</p>
        </div>
        <div class="type d-flex flex-wrap justify-content-around">
            <div class="colourBox2"></div>
            <p>SALES</p>
        </div>
    </div>
</div>


<div class="container" data-aos="fade-right" data-aos-duration="1000">
    <div class="map-container">
        <img src="../../../assets/img/world-map-1500_vvekl5.png">
        <div class="point india tippy" title="India" style="border: 4px solid orange;"></div>
        <div class="point Egypt tippy" title="Egypt"></div>
        <div class="point Bangladesh tippy" title="Bangladesh"></div>
        <div class="point Vietnam tippy" title="Vietnam"></div>
        <div class="point Madagascar tippy" title="Madagascar"></div>


        <div class="point2 USA tippy" title="USA"></div>
        <div class="point2 AUSTRALIA tippy" title="AUSTRALIA"></div>
        <div class="point2 SPAIN tippy" title="SPAIN"></div>
        <div class="point2 ITALY tippy" title="ITALY"></div>
        <div class="point2 DUBAI tippy" title="DUBAI"></div>

    </div>
</div>



<!--Snapshot Figure-->

<section class="milestones-section milestones-section2 set-bg" style="margin-top: 70px; margin-bottom: 50px;">
    <div class="container">
        <div class="row text-white" data-aos="fade-left" data-aos-duration="1000">
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex">
                        <h3 style="margin-right: 10px;"><b> $</b></h3>
                        <h3 style="font-weight: 600;" [countUp]=60000000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                    </div>
                    <p>Total Sales</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="font-weight: 600;" [countUp]=60000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                        <h3 style="margin-left: 10px;"><b>+</b></h3>
                    </div>
                    <p>Total Workforce</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="margin-left: 10px;"><b>></b></h3>
                        <h3 style="font-weight: 600;" [countUp]=22000000 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                    </div>
                    <p>Units Manufactured Annually</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <div class="d-flex" style="justify-content: center;">
                        <h3 style="font-weight: 600;" [countUp]=5 [options]="opts"
                            (complete)="doThisOnComplete()">0</h3>
                    </div>
                    <p>Countries Of Origin</p>
                </div>
            </div>
        </div>

        <div class="row text-white" style="margin-top: 60px;" data-aos="fade-right" data-aos-duration="1000">

            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Duty Benefit</b></h3>
                    <p>NA, EU, Asia/Oceania</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Integrated</b></h3>
                    <p>Supply Chain Solutions</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>ETHICAL</b></h3>
                    <p>WORK ENVIORNMENT</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone-item">
                    <h3><b>Sustainable sourcing</b></h3>
                    <p>apparel manufacturing facility established in 2008-
                        and promoting Sustainable garments</p>
                </div>
            </div>

            
           

        </div>
    </div>
</section>
<!--Snapshot Figure End-->