<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2>Concept To Show</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social Media</p>
        <div class="hero-social-links">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</section>
<!-- Page top section end-->


<!-- Blog page -->
<section class="blog-page" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-item" data-aos="zoom-in"  data-aos-duration="1000">
                            <div class="blog-thumb set-bg"
                                style="background-image: url(../../../assets/img/blog/3.jpg);">
                                <!--<div class="blog-date">
										<h2>20</h2>
										<p>Jan</p>									
									</div>-->
                            </div>
                            <div class="blog-head">
                                <div class="blog-tags">Belpatram Ventures</div>
                                <h2><a><b>Agility</b></a></h2>
                                <div class="blog-tags" style="font-size: 16px;"><b>Speed and Resilience</b></div>
                            </div>
                            <p>We've perfected our processes across locations, allowing us to execute flawlessly with
                                best-in-class lead times.
                                <br>
                                <b>A vertically integrated supply chain with flexible production capacity</b> that
                                enables
                                seamless onboarding of new clients and production orders.
                                <br>
                                Concept to Store solutions within 12-14 weeks through our integrated value chain,
                                process
                                automation and digitization with no compromise on quality.
                                <br>
                                Own 20% or more of our top 3 fabric suppliers with further investments in washing and
                                trim solutions
                                <br>
                                <b>1000 Acre</b> self-sustaining manutacturing ecosystem in India
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <!-- widget
					<div class="sb-widget">
						<form class="search-widget">
							<input type="text">
							<button type="submit">Search</button>
						</form>
					</div> -->
                <!-- widget -->
                <div class="sb-widget" data-aos="zoom-in"  data-aos-duration="1000">
                    <h2 class="sb-title">More Info</h2>
                    <div class="populer-post">
                        <div class="pp-item">
                            <div class="pp-text">
                                <div class="pp-meta">
                                    <span>Belpatram</span> <span>|</span> <span>Ventures</span>
                                </div>
                                <div class="latest-comments">
                                    <div class="lc-item">
                                        <h4><span>India: </span><a>5 Plants</a></h4>
                                    </div>
                                    <div class="lc-item">
                                        <h4><span>Bangladesh: </span><a>2 Plants</a></h4>
                                    </div>
                                    <div class="lc-item">
                                        <h4><span>Sri Lanka: </span><a>15 Plants</a></h4>
                                    </div>
                                    <div class="lc-item">
                                        <h4><span>Haiti: </span><a>1 Plant</a></h4>
                                    </div>
                                    <div class="lc-item">
                                        <h4><span>23 manufacturing facilities with specialized technical teams and
                                                control measures
                                                to ensure qualty at highly competitive rates innovation</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div data-aos="zoom-in"  data-aos-duration="1000">
                    <img src="../../../assets/img/womendress3.png" alt="2">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Blog page end-->




<!-- Blog page -->
<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <div class="col-md-6" data-aos="zoom-in"  data-aos-duration="1000">
                        <div class="blog-item">
                            <div class="blog-thumb set-bg"
                                style="background-image: url(../../../assets/img/womendress1.png);">

                            </div>
                            <div class="blog-head bh-sm">
                                <div class="blog-tags">Belpatram Ventures</div>
                                <h2><a>INNOVATION</a></h2>
                                <div class="blog-tags" style="font-size: 16px;"><b>Products and Process</b></div>
                            </div>

                            <ul>
                                <p>we are laser-tocused on the experience of our end-consumer, which drives innovations
                                    across our products and processes.
                                    <li>
                                        <b>32+</b> Product Launches per season with key customers
                                    </li>
                                    <li>“One Size Brief” to shape to the evolving human body</li>

                                    <li>Design, develop & manufacture high impact bonded Sports Bras.</li>
                                    <li>Extensive digital sampling capability to optimise lead times and customer
                                        experience</li>
                                    <li>Cutting-edge solutions, through our innovation hub, InQube. home to
                                        revolutionary and
                                        scalable technoiogy across engineered knits, digital, and performance wear &
                                        Intimates</li>
                                    <li>Pushing the boundaries of transparent manufacturing and design with digital
                                        sampling, virtual
                                        reality, artificial intelligence, and industry 4.0 automation</li>
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="zoom-in"  data-aos-duration="1000">
                        <div class="blog-item">
                            <div class="blog-thumb set-bg"
                                style="background-image: url(../../../assets/img/womendress2.png);">

                            </div>
                            <div class="blog-head bh-sm">
                                <div class="blog-tags">Belpatram Ventures</div>
                                <h2><a>SUSTAINABILITY</a></h2>
                                <div class="blog-tags" style="font-size: 16px;"><b>Operations and Solutions</b></div>
                            </div>
                            <ul>
                                <p>We put sustainabIility at the core of everything we do - operations, products, and
                                    people- to
                                    protect the planet and our communities

                                    <li>Holistic approach to sustainability & traceability across the supply chain
                                        through
                                        circularity-focused design, and natural finishing & material solutions</li>
                                    <li>Investments towards our communities for mutual growth and prosperity</li>
                                    <li>End-to-end circular solutions building regenerative practices around our energy
                                        consumption
                                        and materais</li>
                                    <li>Upcycled dyeing & Tabric solutions trom polyester and manufacturing waste 2020
                                        achieved 55% in scope 1 and 2 emission reductions globally,the highest in our
                                        industry</li>

                                    <li><b>250,000+</b> people supported through our clean water and sanitation Initiatives in
                                        Sri Lanka</li>

                                    <li><b>50%</b> of energy for our operations is from renewable sources
                                        2025 Net zero carbon across our operations
                                    </li>

                                </p>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
<!-- Blog page end-->