<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section" > <!--style="position: fixed; z-index: 100; width: 100%;"-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark site-navbar">
        <a class="navbar-brand site-logo" href="index.html#">
            <img src="../../../assets/img/BelptramLogo White.png" alt="1">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <!-- Main menu -->
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">The Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="locations">Our Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="concepts">Concept To Show</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="members">Our Team</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>-->
            </ul>
            <div class="social-links my-2 my-lg-0">
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </nav>
</header>
<!-- Header section end-->

<div class="glowingdiv" >
    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>

    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>

    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>

    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>
</div>

<router-outlet></router-outlet>



<!-- Back to top -->
<div class="container">
    <div class="backtotop">
        <div class="up-btn" id="backTotop">UP</div>
    </div>
</div>

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget fw-about">
                    <img src="img/footer-logo.png" alt="">
                    <p>Velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo
                        eget malesu ada. In arcu justo, sagittis consequat pulvinar.</p>
                    <div class="fw-social">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget resent-post">
                    <h2 class="fw-title">Recent Posts</h2>
                    <div class="rp-item">
                        <h4>Paris Fashion Week</h4>
                        <span>20 January 2019</span>
                    </div>
                    <div class="rp-item">
                        <h4>About Our Fashion App</h4>
                        <span>20 January 2019</span>
                    </div>
                    <div class="rp-item">
                        <h4>Simple Blog Post</h4>
                        <span>20 January 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">Usefull Links</h2>
                    <ul>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Subscribe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2 class="fw-title">Contact</h2>
                    <ul>
                        <li><span>Address:</span><b>Head Office:</b> C-14, Sector 58, Noida UP - 201301 - India <br>
                            <b>Corporate OFFICE:</b> 101 Al Muhairi Plaza - Dubai - United Arab Emirates.
                        </li>
                        <li><span>Phone:</span>+91 9873665588</li>
                        <li><span>Mail:</span>support@belpatram.in</li>
                    </ul>
                </div>
            </div>
        </div>

        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | Belpatram Ventures

    </div>
</footer>
<!-- Footer section end -->