<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2 data-aos="fade-right" data-aos-duration="1000">Our Team</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social Media</p>
        <div class="hero-social-links">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</section>
<!-- Page top section end-->

<div class="d-flex justify-content-around flex-wrap">


<div class="container1 member" data-aos="fade-right" data-aos-duration="1000">
    <div class="service-details"><img src="https://i.imgur.com/SkFZNy4.jpg" alt="realm">
        <div class="service-hover-text">
            <h3>Nieteesh Azaad</h3>
            <!--<h4>Developer</h4>-->
            <p>Mr. Nieteesh, a graduate of the Indian Institute of Foreign Trade (IIFT) with a formal qualification
                in Management and International Business, is a recognized domain expert with a professional
                career spanning over 21 years, predominantly in the apparels and footwear sectors. Mr.
                Nieteesh has worked at all levels, from retail outlets to being the Group Business Head on both
                sides of the business - Demand and Supply, in companies such as Red Tape and Walmart. He
                has extensive leadership experience in managing small and large businesses, facilitating
                superior client experiences, as well as leading internal transformations.</p>
        </div>
        <div class="service-white service-text">
            <p>Nieteesh Azaad</p><a href="#">Belpatram Ventures</a>
        </div>
    </div>
</div>

<div class="container1 member" data-aos="fade-left" data-aos-duration="1000">
    <div class="service-details"><img src="https://i.imgur.com/SkFZNy4.jpg" alt="realm">
        <div class="service-hover-text">
            <h3>Ritesh Azad</h3>
            <!--<h4>Developer</h4>-->
            <p>Mr. Ritesh Azad steers the organization's operations and marketing management with strategic
                execution and sustainable business practices. He is responsible for business operations,
                customer experience, and operational excellence, while also leading the development and
                implementation of new business projects. Boasting over 26 years of extensive and rich
                experience in the Marketing, Operations, and Projects domain, Mr. Ritesh has cultivated a
                robust network of business relationships. His prior associations include notable stints at TMS
                (CECIL GROUP), Jyoti Apparels, and Orange Fashion Ltd, where he served in various
                capacities. As a professional in Textile Technology and a Commerce graduate, Mr. Ritesh has
                been honored with the 'Outstanding Alumnus Award' in recognition of his exemplary
                contributions to the profession. His passion for balancing the team's energy and driving growth
                is a cornerstone of his leadership approach</p>
        </div>
        <div class="service-white service-text">
            <p>Ritesh Azad</p><a href="#">Belpatram Ventures</a>
        </div>
    </div>
</div>

</div>
