<!-- Page top section -->
<section class="page-top-section set-bg">
    <h2 data-aos="fade-right" data-aos-duration="1000">Our Team</h2>
    <div class="hero-social-warp">
        <p>Follow us on Social MEdia</p>
        <div class="hero-social-links">
            <a href="https://www.linkedin.com/company/belpatram-ventures/"><i class="fa fa-linkedin"></i></a>
            <!--<a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>-->
        </div>
    </div>
</section>
<!-- Page top section end-->

<div class="row d-flex justify-content-around flex-wrap mb-5" style="margin-top: 100px;">


    <div class="example-1 card mt-5" style="border: none;">
        <div class="wrapper" style="background: url(../../../assets/img/blog/1.jpg) 20% 1% / cover no-repeat;">
            <!--<div class="date">
          <span class="day">12</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>
        </div>-->
            <div class="data">
                <div class="content">
                    <span class="author">Belpatram</span>
                    <h3 class="title mb-5"><a>Nieteesh Azaad</a></h3>
                    <p class="text">Mr. Nieteesh, a graduate of the Indian Institute of Foreign Trade (IIFT) with a
                        formal qualification
                        in Management and International Business, is a recognized domain expert with a professional
                        career spanning over 21 years, predominantly in the apparels and footwear sectors. Mr.
                        Nieteesh has worked at all levels, from retail outlets to being the Group Business Head on both
                        sides of the business - Demand and Supply, in companies such as Red Tape and Walmart. He
                        has extensive leadership experience in managing small and large businesses, facilitating
                        superior client experiences, as well as leading internal transformations.</p>
                </div>
                <!--<input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>-->
            </div>
        </div>
    </div>

    <div class="example-1 card mt-5" style="border: none;">
        <div class="wrapper" style="background: url(../../../assets/img/blog/1.jpg) 20% 1% / cover no-repeat;">
            <!--<div class="date">
          <span class="day">12</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>
        </div>-->
            <div class="data">
                <div class="content">
                    <span class="author">Belpatram</span>
                    <h3 class="title mb-5"><a>Ritesh Azad</a></h3>
                    <p class="text">Mr. Ritesh Azad, with over 26 years of experience in Marketing, Operations, and
                        Projects, leads strategic execution and sustainable practices in the organization. He manages
                        business operations, customer experience, and new project development. His extensive career
                        includes roles at TMS (CECIL GROUP), Jyoti Apparels, and Orange Fashion Ltd. As a Textile
                        Technology professional and Commerce graduate, he's been recognized with an 'Outstanding Alumnus
                        Award' for his contributions, emphasizing team synergy and growth in his leadership.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="example-1 card mt-5" style="border: none;">
        <div class="wrapper"
            style="background: url(../../../assets/img/Members/Prageeth\ 2.jpg) 20% 1% / cover no-repeat;">
            <!--<div class="date">
          <span class="day">12</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>
        </div>-->
            <div class="data">
                <div class="content">
                    <span class="author">Operation Head: Egypt</span>
                    <h3 class="title mb-5"><a>K. Pragith Nirudaka Silva</a></h3>
                    <p class="text">Pragith Nirudaka Silva, a garment industry veteran with over two decades of
                        experience, is a quality assurance, inspection, and process optimization expert. Proficient in
                        managing teams, he consistently meets targets and resolves issues effectively. Pragith's
                        leadership shines through in his track record of driving quality enhancements, process
                        improvements, and cost-saving initiatives. His knowledge spans yarn, fabric, garments, knits,
                        wovens, sweaters, and accessories. Fluent in multiple languages such as English, Sinhala, Hindi,
                        Bengali, and Arabic, Pragith brings a global perspective to his work, underlining adaptability
                        and analytical acumen in delivering industry excellence.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="example-1 card mt-5" style="border: none;">
        <div class="wrapper"
            style="background: url(../../../assets/img/Members/Neeraj\ pic.jpg) 20% 1% / cover no-repeat;">
            <!--<div class="date">
          <span class="day">12</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>
        </div>-->
            <div class="data">
                <div class="content">
                    <span class="author">Sr. Designer</span>
                    <h3 class="title mb-5"><a>Neeraj Kumar</a></h3>
                    <p class="text">Neeraj Kumar is a seasoned designer with 9 years of experience in commercial
                        fashion. He possesses a strong eye for detail and a customer-centric approach. Neeraj's skills
                        span market research, textile R&D, product development, and vendor management. He excels in
                        maintaining client relations and is known for his creative problem-solving. Neeraj holds a
                        B.Des. in Fashion & Textile Design from NIFT, Bhopal, and a diploma in Multimedia from Arena
                        Multimedia, New Delhi.</p>
                </div>
            </div>
        </div>
    </div>




</div>